:root{
    --main-font: 'Zen Kaku Gothic New', sans-serif;
    --secondary-font: 'Roboto Mono', monospace;
}


body{
    margin: 10px;
    background-color: black;
    border: 1px solid white;
}

h1{
    font-family: var(--main-font);
    font-size: 96px;
    font-weight: 300;
}

h3{
    font-family: var(--main-font);
    font-size: 24px;
    font-weight: 600;
    color: #c5cbd6bf;
}

.card-title{
    font-weight: 400;
}

p{
    font-family: var(--secondary-font);
    font-weight: 200;
    color: #c5cbd6bf;
}

.navigation-links{
    background-color: black;
}


.navigation-links a{
    font-family: var(--main-font);
    font-weight: 100;
}

.navigation-links .navbar-brand{
    font-weight: 400;
}

.header-container{
    background: linear-gradient(180deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
    color: white;
    padding: 120px 100px;
}

.card{
    background: rgba(16, 37, 60, 0.216);
    color: aliceblue;
}
.middle-card{
    margin: 0 15px;
}

@media(max-width: 992px){
    h1{
        font-size: 60px;
    }
    .header-container{
        padding: 100px 80px;
    }
    .header-container h3{
        margin-top: 15px;
        font-size: 20px;
    }
    .middle-card{
        margin: 30px 0;
    }
    .row{
        display: block;
    }
}